body {
    background-color: #6d9eebff;
    font-family: 'Coming Soon', serif;
    font-weight: lighter;
    text-align: center;
    color: white;
}

#menuButton {
    float: left;
}

#nav {
    list-style-type: none;
    display: none;

}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

#journalInput {
    resize: none;
    width: 45%;
    border-radius: 4px;
    padding: 10px;
    border-color: white;
    font-family: 'Coming Soon', serif;
}
