body {
    background-color: #6d9eebff;
    font-family: 'Coming Soon', serif;
    font-weight: lighter;
    text-align: center;
    color: white;
}

#menuButton {
    float: left;
}

/*
#nav {
    list-style-type: none;
    display: none;
    float: left;
    width: 5%;
}


nav ul li{
    text-align: center;
}
*/

nav {
    float: left;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    text-align: center;
}

nav li a:link a:visited {
    display: block;
    text-align: center;
    padding: 16px;
    margin: 0 10px;
}

#home {
    text-align: center;
}


#header {
    text-align: center;
    margin-bottom: 2%;
}





a:link, a:visited {
    color: white;
    text-decoration: none;
}

#journalInput {
    resize: none;
    width: 45%;
    border-radius: 4px;
    padding: 10px;
    border-color: white;
    font-family: 'Coming Soon', serif;
}


#mood{
    position: fixed;
    left: 50%;
    margin-top: 200px;
    margin-left: -150px;

}
#mood2{
    position: fixed;
    left: 50%;
    margin-top: 200px;
    margin-left: -12.5px;

}
#mood3{
    position: fixed;
    left: 50%;
    margin-top: 200px;
    margin-left: 125px;

}

#submit {
    position: fixed;
    left: 50%;
    margin-top: 250px;
    margin-left: -15.5px;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Coming Soon', serif;
    color: #FFFFFF;
}

/*
nav {
    float: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
nav li {
    float: right;
  }

  */

  nav {
      float: left;
  }
  
  nav ul{
      list-style-type: none;
  }

nav li a:link, a:visited {
    display: block;
    text-align: left;
    padding: 16px;
    margin: 0px 10px;
  }
#fontMenu {
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

#ComingSoon {
    font-family: 'Coming Soon', serif;
    color: black;
}

#Times {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#Courier {
    font-family: 'Courier New', serif;
    color: black;
}

#nameInput {
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    width: 170px;
}
input {
    color: white;
}
input:focus{
    outline: none;
    color: white;
}

#nameInput::placeholder { 
    color: white;
    opacity: 1;
  }

#row {
    display: flex;
}

.column {
    flex: 33.33%; 
}


img {
    width: 95%;
}

